.NavMenuSide {
  background-color: #000;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
}

.NavMenuSide__header {
  padding: 24px 86px 26px 24px;
}

.NavMenuSide__nav {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-bottom: 24px;
}

.nav__link {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px 16px;
  line-height: 22.4px;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.5;
  transition: .2s ease;
}

.activeLink {
  opacity: 1;
}

.nav__icon {
  font-size: 24px;
}

.NavMenuSide__actions {
  display: flex;
  flex-direction: column;
}

.actions__link {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 0 10px 24px;
  line-height: 22.4px;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.7;
}

.likedSongs__icon {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 2px;
  background: linear-gradient(125deg, #450AF5, #C4EFD9);
}

.createPlaylist__icon {
  width: 24px;
  height: 24px;
}

.NavMenuSide__profile {
  margin: auto 0 0 0;
  padding: 0 0 32px 24px;
  color: #fff;
}

.profile__action {
  cursor: pointer;
  font-size: 2.5rem;
  overflow: hidden;
  padding-top: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
}

.NavMenuSide__langSwap {
  margin: 0 0 0 0;
  padding: 0 0 32px 24px;
  color: #fff;
  width: 141px;
}

.langSwap__action {
  cursor: pointer;
  display: flex;
  gap: 4px;
  font-size: 1.2rem;
  padding: 8px 13px;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 24px;
  align-items: center;
}

.langSpwap__icon {
  min-width: 24px;
}